<!DOCTYPE html>
<html lang="pt br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python + HTML</title>
</head>
<body>
     <div class = "card"> 
       <h1>Integração Pythom com HTML </h1>
       <h2>Bem Vindo!</h2>
       <p><strong>Nome:</strong> {{ nome }}</p>
       <p><strong>Curso:</strong> {{ curso }}</p>
       </div><div><br>
       <button onclick="mostrarMensagem()">
        Clique aqui
       </button>
       <br></br>

     </div>
     <script>
        function mostrarMensagem(){
            alert("Parabéns! Seu site está funcionando.")
        }
     </script>
</body>
</html>